Repository ia-eknorr/project-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, pylint, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: Shell Lint
        entry: shellcheck
        language: system
        types: [shell]
        files: \.sh$

      - id: markdownlint
        name: Markdown Lint
        entry: markdownlint
        language: system
        types: [markdown]
        args: [
          "--config=.markdownlint.json",
          "--ignore-path=.markdownlintignore"
        ]

      - id: pylint
        name: pylint
        entry: pylint
        files: .*code\.py$
        language: system
        types: [python]
        args:
          [
            "--rcfile=.pylintrc",
            "--msg-template='{path}:\n  Line {line}: {msg_id}: {msg}'"
          ]

      - id: yamllint
        name: YAML Lint
        entry: yamllint
        # files: \.yml$
        language: system
        types: [yaml]
        args:
          [
            "--config-file=.yamllint.yml",
            "--format=standard"
          ]

update localization and image readmes (#63)
  idb-images/README.md
  localization/README.md
Due: markdownlint

chore: udpate repo-lint to v1 (#67)
  .github/workflows/repo-lint.yml
  README.md
  gw-init/README.md
Due: markdownlint, yamllint

update overridable to true (#76)
  services/ignition/config/resources/core/ignition/gateway-network-settings/resource.json
  services/ignition/config/resources/core/ignition/secret-provider/internal-secret-provider/resource.json
  services/ignition/config/resources/core/ignition/security-levels/resource.json
  services/ignition/config/resources/core/ignition/security-properties/resource.json
  services/ignition/config/resources/core/ignition/security-zone/Default/resource.json
  services/ignition/config/resources/core/ignition/user-source/default/resource.json
Due: none

initial pass of updates for stack (#78)
  .lint/.yamllint.yml
  docker-compose.yml
  scripts/docker-bootstrap.sh
  scripts/docker-config-cleanup.sh
Due: yamllint

update docs links to ignition-guides, update node version in workflow
  .github/workflows/repo-lint.yml
  README.md
Due: markdownlint, yamllint

update to Ignition 8.3 structure from upstream template
  .github/CODEOWNERS
  README.md
  services/ignition/projects/.gitkeep
Due: markdownlint

update for 8.3: inline workflow, update README, remove docs
  .github/workflows/repo-lint.yml
  README.md
  docs/installation-guide.md
Due: markdownlint, yamllint

fix: pass config paths to linters, upgrade ignition-lint to v2.3
  .github/workflows/repo-lint.yml
  .lint/.markdownlintignore
Due: yamllint

fix: pass config paths to linters, upgrade ignition-lint to v2.3 (#25)
  .github/workflows/repo-lint.yml
  .lint/.markdownlintignore
Due: yamllint

chore: migrate ignition-lint to bw-design-group/ignition-lint v0.4.1
  .github/workflows/repo-lint.yml
  .ignition-lint.json
  .pre-commit-config.yaml
Due: yamllint

chore: bump ign-lint to v0.5.0
  .github/workflows/repo-lint.yml
  .pre-commit-config.yaml
Due: yamllint

chore: migrate ignition-lint to bw-design-group/ignition-lint v0.4.1 (#26)
  .github/workflows/repo-lint.yml
  .ignition-lint.json
  .pre-commit-config.yaml
Due: yamllint

chore: remove release/v1 branch rules from Renovate config
  .github/renovate.json
Due: none

chore: remove release/v1 branch rules from Renovate config (#28)
  .github/renovate.json
Due: none

add ia-eknorr as reviewer on renovate PRs
  .github/renovate.json
Due: none

add ia-eknorr as reviewer on renovate PRs (#30)
  .github/renovate.json
Due: none

remove config-cleanup service
  README.md
  docker-compose.yml
  scripts/docker-config-cleanup.sh
Due: markdownlint, yamllint

remove config-cleanup service (#32)
  README.md
  docker-compose.yml
  scripts/docker-config-cleanup.sh
Due: markdownlint, yamllint

add admin credentials env vars
  .env.example
  README.md
  docker-compose.yml
Due: markdownlint, yamllint

open gateway by default; document security tradeoff
  README.md
  services/ignition/config/resources/core/ignition/security-properties/config.json
Due: markdownlint

fix Security docs to use access permissions, not forceIdpAuth
  README.md
  services/ignition/config/resources/core/ignition/security-properties/config.json
Due: markdownlint

remove unnecessary forceIdpAuth note from README
  README.md
Due: markdownlint

simplify lockdown instructions to UI steps
  README.md
Due: markdownlint

tighten lockdown section to one short paragraph
  README.md
Due: markdownlint

add MIT license
  LICENSE
  README.md
Due: markdownlint

fix stale ignition-guides links after lab rename
  README.md
Due: markdownlint

surface all three labs in README
  README.md
Due: markdownlint

improve lint paragraph with linker docs and local-run instructions
  README.md
Due: markdownlint

chore: rename GitHub org from ia-eknorr to etknorr
  .github/renovate.json
  README.md
Due: markdownlint

chore: rename GitHub org from ia-eknorr to etknorr (#39)
  .github/renovate.json
  README.md
Due: markdownlint

fix: point ignition-guides links at knorrlabs.github.io
  README.md
Due: markdownlint

fix: point ignition-guides links at knorrlabs.github.io (#40)
  README.md
Due: markdownlint

chore(renovate): adopt the shared org Renovate preset
  .github/renovate.json
Due: none

chore(renovate): point at the renovate-config preset repo
  .github/renovate.json
Due: none

chore(renovate): adopt the shared org Renovate preset (#41)
  .github/renovate.json
Due: none
