Repository ia-eknorr/project-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, pylint, yamllint

markdownlint:
  name: Markdown Lint
  entry: markdownlint
  language: system
  args:
  - --config=.markdownlint.json
  - --ignore-path=.markdownlintignore

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - "--msg-template='{path}:\n  Line {line}: {msg_id}: {msg}'"

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint.yml
  - --format=standard

chore: fix formatting issues
  .github/ISSUE_TEMPLATE/bug_report.md
  docker-compose.yml
  sample-readme.md
Due: markdownlint, yamllint

feat: add pre-commit workflow
  .github/workflows/linter.yml
Due: yamllint

chore: fix spacing on linter.yml
  .github/workflows/linter.yml
Due: yamllint

chore: bump ignition-lint version to 2.0
  .github/workflows/repo-lint.yml
Due: yamllint

feature: added PR template (#24)
  .github/pull_request_template.md
Due: markdownlint

chore: Updated PR template and linting exception (#26)
  .github/pull_request_template.md
  .markdownlint.json
Due: markdownlint

Removed UID/GID from docker-compose (#25)
  docker-compose.yml
Due: yamllint

updated instructions in initialize.sh (#27)
  initialize.sh
Due: none

bug: Add backup script (#28)
  README.md
  gw-init/strip-projects-from-gwbk.sh
Due: markdownlint

feat: udpate tag utility scripts
  scripts/README.md
  scripts/export-all-tags.sh
  scripts/import-all-tags.sh
  scripts/tag-export.sh
  scripts/tag-import.sh
Due: markdownlint

feat: bump to tag-cicd 0.0.4
  module-init/Tag-CICD.modl
Due: none

chore: update tag exports
  tags/Exchange.json
  tags/_types_.json
  tags/default/Exchange/readme.json
  tags/default/_types_/Exchange/ExampleType.json
Due: none

chore: update dc file for new tag-cicd module
  docker-compose.yml
Due: yamllint

chore: update base project properties for ease of use
  gw-projects/ExampleProject/com.inductiveautomation.perspective/page-config/config.json
  gw-projects/ExampleProject/com.inductiveautomation.perspective/page-config/resource.json
  gw-projects/ExampleProject/com.inductiveautomation.perspective/session-props/props.json
  gw-projects/ExampleProject/com.inductiveautomation.perspective/session-props/resource.json
  gw-projects/ExampleProject/ignition/global-props/data.bin
  gw-projects/ExampleProject/ignition/global-props/resource.json
Due: none

chore: remove old gw-projects dir
  gw-projects/ExampleProject/com.inductiveautomation.perspective/page-config/config.json
  gw-projects/ExampleProject/com.inductiveautomation.perspective/page-config/resource.json
  gw-projects/ExampleProject/com.inductiveautomation.perspective/session-props/props.json
  gw-projects/ExampleProject/com.inductiveautomation.perspective/session-props/resource.json
  gw-projects/ExampleProject/ignition/global-props/data.bin
  gw-projects/ExampleProject/ignition/global-props/resource.json
  gw-projects/ExampleProject/project.json
Due: none

feat: update to use new common-docker-ignition image
  docker-compose.yml
Due: yamllint

docs: update docs to reflect changes for new image
  README.md
  module-init/readme.md
Due: markdownlint

chore: remove unused ignition projet name
  initialize.sh
Due: none

chore: update default project name to 'gateway'
  initialize.sh
Due: none

chore: remove secrets dir and refs to secrets in docs
  README.md
  secrets/.gitignore
  secrets/readme.md
Due: markdownlint

docs: add helpful comments to docker compose file
  docker-compose.yml
Due: yamllint

chore: update gwbk to have valid db connection
  gw-init/gateway.gwbk
Due: none

chore: update download backups script to look for new ia image
  scripts/download-gateway-backups.sh
Due: none

feat: add pylint and python-version file
  .github/workflows/repo-lint.yml
  .pre-commit-config.yaml
  .pylintrc
  .python-version
Due: yamllint

Docs: Add readme's to sub-directories (from Demo POC) (#38)
  README.md
  db-init/2-create-tables.sql
  db-init/3-seed-data.sql
  db-init/README.md
  db-init/readme.md
  docs/quickstart-guide.md
  docs/tag-version-control.md
  gw-init/README.md
  module-init/README.md
  module-init/readme.md
  scripts/README.md
Due: markdownlint

chore: call out specific module in container
  docker-compose.yml
Due: yamllint

Docs: Update quickstart, setup, and readme (#41)
  README.md
  docs/quickstart-guide.md
  docs/setup-guide.md
  sample-readme.md
  scripts/README.md
Due: markdownlint

Chore: Tag cicd update (#43)
  .github/pull_request_template.md
  gw-init/gateway.gwbk
  module-init/Tag-CICD.modl
Due: markdownlint

feat: update configs
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/renovate.json
  .markdownlintignore
Due: markdownlint

feat: update docs to point to separate repository
  README.md
  docs/quickstart-guide.md
  docs/setup-guide.md
  docs/tag-version-control.md
Due: markdownlint

chore: update db-init readme for clarity
  db-init/README.md
Due: markdownlint

Replace `docker-compose` (v1) with `docker compose`(v2) in scripts and READMEs (#47)
  initialize.sh
  scripts/download-gateway-backups.sh
Due: none

Update gwbk with default user source/IdP (#50)
  gw-init/gateway.gwbk
Due: none

chore: update configs to latest standard
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/renovate.json
Due: markdownlint

chore: update docker-compose to latest standard
  .gitignore
  db-connections/README.md
  db-connections/connection-name.json
  docker-compose.yml
  idb-images/README.md
  initialize.sh
  localization/README.md
Due: markdownlint, yamllint

chore: update db connection to use initdb to create schema
  db-init/1-schema.sql
  docker-compose.yml
Due: yamllint

chore: update db connection to use initdb to create schema
  db-init/1-schema.sql
  docker-compose.yml
  initialize.sh
Due: yamllint

Fix network (#61)
  docker-compose.yml
Due: yamllint

Chore: cleanup and update to sync with `template-publicdemo-vertical` repo (#58)
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/repo-lint.yml
  .markdownlint.json
  docker-compose.yml
  initialize.sh
  scripts/README.md
  scripts/export-all-tags.sh
  scripts/import-all-tags.sh
  scripts/tag-export.sh
  scripts/tag-import.sh
Due: markdownlint, yamllint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  pylint: any of: .*code\.py$ and \.py$
  yamllint: any of: \.(yaml|yml)$
